body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header   */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-links-list {
  display: flex;
  gap: 40px;
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.header-address-list {
  font-style: normal;
}

.header-links {
  padding: 24px 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address-item-list {
  display: flex;
  gap: 40px;
}

.header-address-list {
  padding: 24px 0;
}

.address-items {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-links:hover,
.header-links:focus,
.address-items:hover,
.address-items:focus {
  color: #404bbf;
}

/* Section 1 Effective Solutions */

.solutions {
  background-color: #2e2f42;
  padding: 188px 0;
}

.solutions-h-one {
  margin: 0 auto;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.solutions-button {
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.solutions-button:hover,
.solutions-button:focus {
  background-color: #404bbf;
}

/* Section 2 Our benefits */

.benefits {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100%-72) / 4);
}

.benefits-h-three {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* Section 3 Our Team */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-h-two {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-img {
}

.team-name-container {
  padding: 32px 0;
}

.team-h-three {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-p {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* Section 4 Our Portfolioo */

.portfolio {
  padding: 120px 0;
}

.portfolio-h-two {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-name-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-h-three {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-p {
  max-width: 264px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logo-studio {
  color: #f4f4fd;
}
